body{
     background-color: #333652;
}

#planet{

	left: 26%;
    position: absolute;
    top: 38%;
    z-index: 10;
}
#squareColor{
	left: 40%;
    position: absolute;
    top: 40%;
    z-index: 9;
    transition:all 0.5 linear;
}

#crystal{
	left: 58%;
    position: absolute;
    top: 34%;
    z-index: 10;
}
.pinkRiver{
	position: absolute;
	z-index: -100;
	background-color:white;
	top: 50%;
	left:0%;
	right:0%;
	height:1px;
}
